.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.collapsible:hover {
  background-color: #555;
}

.active, .active.collapsible:hover {
  background-color: hsl(171, 100%, 41%);
}

.collapsible:after {
  content: '\002B';
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
}

.content > * {
  margin-top: 10px;
}

.box--header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

 .editable {
  text-decoration: underline dashed;
}
