{{template "header.html" .}}
<section class="section">
  <div class="container">
    <h1 class="title">
      Boxes
    </h1>

    <div class="columns">
      <div class="column is-one-fifth">{{template "menu.html" .}}</div>
      <div class="column is-four-fifths">
          <div style="background-color: whitesmoke; padding: 10px;">
            {{if .error }}
            <div class="notification is-danger is-light">
              {{.error}}
            </div>
            {{end}}
            {{ range .content }}
	    <button class="collapsible" style="background-color: {{.Color}}">
              {{ .IP }}{{if .Hostname}} ({{.Hostname}}){{end}}{{if .Ports}} | {{ len .Ports}} ports open{{end}}{{if .Codename}} | Codename: {{.Codename}}{{end}}
            </button>
	    {{ $assignee := .Assignee }}
            <div class="content">
              <div class="box--header">
                <form action="/dashboard/boxes/assign-assignee" method="post">
                    <div class="field">
                      <label class="label">Assignee</label>
                      <input class="input" type="hidden" name="ip" value="{{ .IP }}">
                      <div class="select">
                          <select>
                              {{ range $i, $name := $.usernames }}
			      <option value={{$i}} {{ if eq $assignee $i }}selected="selected"{{end}}>{{$name}}</option>
                              {{ end }}
                          </select>
                      </div>
                    </div>
                </form>
                <form action="/dashboard/boxes/update-codename" method="post">
                    <div class="container">
                      <input class="input" type="hidden" name="ip" value="{{ .IP }}">
                      <label class="label">Codename</label>
                      <div class="field has-addons">
                        <div class="control">
                          <input class="input" type="text" placeholder="Enter Codename" name="codename" value="{{ .Codename }}">
                        </div>
                        <div class="control">
                          <button name="codename-submit" class="button is-link">Apply</button>
                        </div>
                      </div>
                    </div>
                </form>
                <form>
                    <div class="container">
                      <label class="label">User Shells</label>
                      <input class="input" type="hidden" name="ip" value="{{ .IP }}">
                      <input class="input" type="hidden" name="type" value="user">
		      <div class="field has-addons">
                        <div class="control">
			  <input class="input" type="number" min="0" max="99" size="2" name="shells" value="{{.UserShells}}">
                        </div>
                        <div class="control">
                          <button name="shell-submit" class="button is-link">Apply</button>
			</div>
                      </div>
                    </div>
                </form>
                <form action="/dashboard/boxes/update-shells" method="post">
                    <input class="input" type="hidden" name="ip" value="{{ .IP }}">
                    <label class="label">Root Shells</label>
                    <div class="container">
                      <div class="field has-addons">
                        <input class="input" type="hidden" name="type" value="root">
                        <div class="control">
		          <input class="input" type="number" min="0" max="99" size="2" name="shells" value="{{.RootShells}}">
                        </div>
                        <div class="control">
                          <button name="shell-submit" class="button is-link">Apply</button>
                        </div>
                      </div>
                    </div>
                </form>
              </div>
            {{ if not .Ports }}
            <p>No ports in database.</p>
            {{ end }}
            {{ range .Ports }}
            <p>{{ . }}</p>
            {{ end }}
          </div>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>
<script>
    $(document).ready(function () {
      $("select").on("change", function (event) {
        var $form = $(this).closest('form');
        var formData = {
          ip: $form.find('input[name="ip"]').val(),
          assignee: $form.find('select').val(),
        };

        $.ajax({
          type: "POST",
          url: "/dashboard/boxes/update-assignee",
          data: formData,
          dataType: "json",
          encode: true,
        }).done(function (data) {
          console.log(data);
        });
        event.preventDefault();
      });
      $("button[name='shell-submit']").on("click", function (event) {
        var $form = $(this).closest('form');
        var formData = {
          ip: $form.find('[name="ip"]').val(),
          type: $form.find('[name="type"]').val(),
          shells: $form.find('[name="shells"]').val(),
        };

        $.ajax({
          type: "POST",
          url: "/dashboard/boxes/update-shells",
          data: formData,
          dataType: "json",
          encode: true,
        }).done(function (data) {
          console.log(data);
        });
        event.preventDefault();
      });
    });
    var coll = document.getElementsByClassName("collapsible");
    var i;

    for (i = 0; i < coll.length; i++) {
      coll[i].addEventListener("click", function() {
          this.classList.toggle("active");
          var content = this.nextElementSibling;
          if (content.style.maxHeight){
                content.style.maxHeight = null;
          } else {
            content.style.maxHeight = content.scrollHeight + "px";
          } 
        });
    }
</script>

{{template "footer.html"}}
