{{define "menu.html"}}
<aside class="menu" style="background-color: whitesmoke ;padding: 10px;">
  <p class="menu-label">
    Network Information
  </p>
  <ul class="menu-list">
    <li><a href="/dashboard">View Dashboard</a></li>
    <li><a href="/dashboard/boxes">View Boxes</a></li>
    <li><a href="/dashboard/upload">Upload NMAP Data</a></li>
  </ul>
    <p class="menu-label">
      Credentials
    </p>
  <ul class="menu-list">
    <li><a href="/dashboard/credentials">View Credentials</a></li>
  </ul>
  <p class="menu-label">
    Settings
  </p>
  <ul class="menu-list">
    <li><a href="/dashboard/profile">Profile</a></li>
  </ul>
</aside>
{{end}}

