{{template "header.html" .}}
<section class="section">
  <div class="container">
    <h1 class="title">
      Credentials
    </h1>

    <div class="columns">
      <div class="column is-one-fifth">{{template "menu.html" .}}</div>
      <div class="column is-four-fifths">
          <div style="background-color: whitesmoke; padding: 10px;">
            {{if .error }}
              <div class="notification is-danger is-light">
                {{.error}}
              </div>
            {{end}}
            <button class="collapsible">Create new credential</button>
            <div class="content">
              <form action="/dashboard/credentials" method="post">
                <div class="container" style="border: 1px solid lightgray; border-radius: 3px;padding: 15px;">
                  <div class="field">
                    <label class="label">IP</label>
                    <div class="control">
                      <input class="input" type="text" placeholder="Enter IP" name="ip" required>
                    </div>
                  </div>

                  <div class="field">
                    <label class="label">Hostname</label>
                    <div class="control">
                      <input class="input" type="text" placeholder="Enter Hostname" name="hostname" >
                    </div>
                  </div>
                  <div class="field">
                    <label class="label">Port</label>
                    <div class="control">
                      <input class="input" type="number" placeholder="Enter Port" name="port" required>
                    </div>
                  </div>
                  <div class="field">
                    <label class="label">Service</label>
                    <div class="control">
                      <input class="input" type="text" placeholder="Enter Service" name="service" required>
                    </div>
                  </div>
                  <div class="field">
                    <label class="label">Username</label>
                    <div class="control">
                      <input class="input" type="text" placeholder="Enter Username" name="username" required>
                    </div>
                  </div>
                  <div class="field">
                    <label class="label">Password</label>
                    <div class="control">
                      <input class="input" type="text" placeholder="Enter Password" name="password" required>
                    </div>
                  </div>
                  <div class="field">
                    <button id="submit" class="button is-link">Submit</button>
                  </div>
                </div>
              </form>
            </div>
            <table class="table is-fullwidth is-hoverable is-striped">
                <thead>
                    <tr>
                        <th>IP</th>
                        <th>Hostname</th>
                        <th>Port</th>
                        <th>Service</th>
                        <th>Username</th>
                        <th>Password</th>
                        <th></th>
                    </tr>
                </thead>
                {{ range .content}}
                    <tr>
			<td class="editable" id="{{ .ID }}-ip"><span class="editable">{{ .IP }}</span></td>
			<td class="editable" id="{{ .ID }}-hostname"><span>{{ .Hostname }}</span></td>
			<td class="editable numeric" id="{{ .ID }}-port"><span>{{ .Port }}</span></td>
			<td class="editable" id="{{ .ID }}-service"><span>{{ .Service }}</span></td>
			<td class="editable" id="{{ .ID }}-username"><span>{{ .Username }}</span></td>
			<td class="editable" id="{{ .ID }}-password"><span>{{ .Password }}</span></td>
                        <td>
                            <form action="/dashboard/credentials/delete" method="post">
                                  <input class="input" type="hidden" name="id" value="{{ .ID }}">
                                  <div class="field">
                                      <button class="button is-danger">
                                        <span class="icon is-small">
                                          <i class="fa fa-times"></i>
                                        </span>
                                      </button>
                                  </div>
                            </form>
                        </td>
                    </tr>
                {{ end }}
            </table>
          </div>
      </div>
    </div>
  </div>
</section>

<script>
    $(document).ready(function () {
      $('td.editable').on('click', function (event) {
        var $span = $(this).find('span');
	var $field = $('<div></div>', {
	    class: 'field has-addons'
	  });
	var type = '';
	if ($(this).hasClass('numeric')) {
            type = 'number';
	} else {
            type = 'text';
	}
	var $input = $('<div></div>', {class:'control'}).append(
	    $('<input/>', {
	          type: type,
		  class: 'input',
	          value: $span.text(),
                  size: '4'
	    }));
	var $button = $('<div></div>', {class:'control'}).append($('<button></button>', {
	    type: 'submit',
	    class: 'button is-info',
	    value: '&#10004;'
	  }).append(
	      $('<i></i>',{class: 'fa-solid fa-check'}))
	  );
	$field.append($input);
	$field.append($button);
	var $form = $('<form></form>', {
	  'id': $(this).attr('id'),
	  'class': 'form'
	}).append($field);
	$span.replaceWith($form);
	$(this).find('input').focus();
	$(this).find('form').submit(function (event) {
	  var $form = $(this);
	  var where = $form.attr('id').split('-');
	  var val = $form.find('input').val();
	  var formData = {
	    id: where[0],
	    field: where[1],
	    value: val,
	  };
	  $.ajax({
	    type: "POST",
	    url: "/api/update/credentials",
	    data: formData,
	    dataType: "json",
	    encode: true,
	  }).done(function (data) {
	    console.log(data);
	  });
	  event.preventDefault();
	  $(this).replaceWith($('<span></span>', {text: val}));
	});
      });
    });
    var coll = document.getElementsByClassName("collapsible");
    var i;

    for (i = 0; i < coll.length; i++) {
      coll[i].addEventListener("click", function() {
          this.classList.toggle("active");
          var content = this.nextElementSibling;
          if (content.style.maxHeight){
                content.style.maxHeight = null;
          } else {
            content.style.maxHeight = content.scrollHeight + "px";
          } 
        });
    }
</script>
{{template "footer.html"}}
